<div class="container">
    <div class="row">
        <div class="col col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="card">             
                    <div class="card-body">
                      <h5 class="card-title text-center">Search friend</h5>
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Friend name</label>
                        <input type="text" class="form-control">
                    </div>
                    
                      
                      <a href="#" class="btn btn-success mt-3 ">Search</a>
                    </div>
                  </div>
               
            </div>
        </div>
    </div>
</div>
